.header{
    background-color:rgb(24, 71, 173);
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    min-width: 85rem;
   
}

.headerContainer{
    width: 90%;
    margin: 20px 0px 100px 0px;
}

.headerContainer.listMode{
  margin: 20px 0px 40px 0px;
}

.headerList{
    display: flex;
    gap: 40px;
}
 .headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
 }

 .headerDesc{
    margin: 20px 0px;

 }

 .headerBtn{
    background-color: rgb(8, 49, 139);
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: none;
    padding: 10px;
    cursor: pointer;
 }
 .headerBtn:hover {
   background-color: rgba(8, 50, 139, 0.425);
 }
 

 .headerSearch{
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 2px;
    position: absolute;
    bottom: -25px;
    width: 90%;
    font-size: 18px;
   
 }
 
 


 .headerSearchItem > button {
   width: max-content;
   height: 3rem;
   padding: 0 20px;
   background-color: rgb(6, 60, 179);
   color: white;
   font-size: 22px;
   border: none;
   border-radius: 2px;
   cursor: pointer;
   margin-right: -1rem;
 }
 .headerSearchItem > button:hover {
   background-color: rgb(8, 50, 139);
 }

 .headerIcon{
    color: rgb(156, 148, 148);
    font-size: 20px;
 }

 .headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .headerSearchInput{
    border: none;
    outline: none;
    font-size: 18px;
 }

 .headerSearchText{
    color: rgb(179, 173, 173);
    cursor: pointer;
 }

 .date{
    position: absolute;
    top: 50px;
    z-index: 2;

 }

 .options{
   z-index: 2;
    position: absolute;
    top: 50px;
    margin-left: 20px;
    background-color: white;
    color: rgb(146, 138, 138);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
 }

 .optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
 }

 .optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
    outline: 2px solid rgb(117, 160, 253);
    font-size: 16px;
 }

 .optionCounterButton{
    width: 30px;
    height: 30px;
    border: none;
    color: #061018;
    cursor: pointer;
    background-color: white;
    font-size: 20px;
 }
 .optionCounterButton:disabled{
    cursor: not-allowed;
 }
